@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --color-main: #5dcca6;
  --color-black: #2f2f2f;
  --color-white: #fff;
}

body {
  font-family: "Poppins", sans-serif;
}
