.about-container {
  width: 90%;
  max-width: 860px;
  margin: 0 auto;
  margin-top: -26px;
  margin-bottom: 80px;
  text-align: center;
}

.about-container p {
  color: #9c9c9c;
}

@media screen and (min-width: 672px) {
  .about-container {
    width: 80%;
  }
}
