nav {
  position: relative;
  z-index: 100;

  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-container {
  width: 100%;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-white);
  box-shadow: 0 -2px 8px var(--color-black);
}

nav .nav-wrapper {
  width: 80%;
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-white);
}

nav .nav-wrapper .logo-container {
  cursor: pointer;
}

nav .nav-wrapper .logo-container #logo {
  width: 190px;
  height: 57px;
  background-color: blue;
}

nav .nav-wrapper .items-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .nav-wrapper .items-wrapper .item {
  margin: 0 24px;
}

nav .nav-wrapper .items-wrapper .item a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-black);
  text-transform: uppercase;
  cursor: pointer;
}

nav .nav-wrapper .items-wrapper .item.active a {
  color: var(--color-main);
}

nav .nav-wrapper .items-wrapper .item a:hover {
  color: var(--color-main);
}

/* Mobile */
nav .nav-wrapper .hamburger {
  width: 24px;
  height: 22px;

  display: none;
  flex-direction: column;
  justify-content: space-between;
}

nav .nav-wrapper .hamburger span {
  width: 100%;
  height: 4px;
  background-color: var(--color-black);

  transition: all 0.5s ease-in-out;
}

nav .nav-wrapper .hamburger.active span:first-child {
  transform: rotate(45deg) translateY(6px) translateX(7px);
}

nav .nav-wrapper .hamburger.active span:nth-child(2) {
  transform: scale(0);
}

nav .nav-wrapper .hamburger.active span:last-child {
  transform: rotate(-45deg) translateY(-6px) translateX(7px);
}

nav .nav-mobile-items-wrapper {
  position: absolute;
  top: -130px;
  z-index: 4;

  width: 100%;
  height: 203px;
  background-color: var(--color-white);
  box-shadow: 0 -2px 8px var(--color-black);

  display: none;
  flex-direction: column;
  justify-content: flex-end;

  transition: all 0.5s ease-in-out;
}

nav .nav-mobile-items-wrapper.active {
  top: 0;
}

nav .nav-mobile-items-wrapper .item {
  width: 100%;
  margin: 0 auto;
  padding: 16px 0;
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  transition: all 0.15s ease-in-out;
}

nav .nav-mobile-items-wrapper .item:active {
  background-color: var(--color-main);
  color: var(--color-white);
}

nav .nav-mobile-items-wrapper .item a {
  color: var(--color-main);
}

@media screen and (max-width: 672px) {
  nav .nav-wrapper {
    width: 90%;
  }

  nav .nav-wrapper .items-wrapper {
    display: none;
  }

  nav .nav-wrapper .hamburger {
    display: flex;
  }

  nav .nav-mobile-items-wrapper {
    display: flex;
  }
}
