.form-wrapper {
  width: 90%;
  margin: 30px auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-wrapper h1 {
  font-size: 2.8rem;
  line-height: 2.8rem;
}

.form-wrapper h1 span {
  color: var(--color-main);
}

.form-wrapper form {
  /* background-color: red; */
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-wrapper form .form-section {
  /* background-color: yellow; */
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-wrapper form .form-section .dosen-name-input {
  /* background-color: orange; */
  border: none;
  padding: 4px 0;

  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.form-wrapper form .form-section .form-review {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.form-wrapper form .form-section .form-review .material-textarea {
  width: 100%;
  height: fit-content;

  color: #9c9c9c;
}

.form-wrapper form .form-section.action {
  flex-direction: row;
}

.form-wrapper form .form-section.action button {
  background-color: transparent;
  border: none;
  padding: 8px 0;
  border-radius: 8px;

  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-wrapper form .form-section.action button:hover {
  color: var(--color-main);
}

.form-wrapper form .form-section.action a {
  padding: 10px 28px;
  color: #eb5b5b;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .form-wrapper {
    margin: 60px auto;
    gap: 50px;
  }

  .form-wrapper h1 {
    font-size: 3.6rem;
  }
}
